<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="system.web" xdt:Transform="Insert">
      <section name="websso" type="System.Web.Security.SingleSignOn.WebSsoConfigurationHandler, System.Web.Security.SingleSignOn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, Custom=null" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="SitePath" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="SitePath" value="https://integration-portal.damco.com" xdt:Transform="Insert" />
    <add key="ResourceBundle" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResourceMinify" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResourceStrict" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResourceDebug" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RSSNewsProxy" value="http://10.255.237.21:8887" xdt:Transform="Insert" />
  </appSettings>

  <connectionStrings>
    <add name="myDamcoDatabase" connectionString="Data Source=10.255.220.56;Initial Catalog=MyDamcoV4;User Id=MyDamco;Password=f~&lt;$HaS(" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="myDamcoEntities" connectionString="metadata=res://*/Database.myDamco.csdl|res://*/Database.myDamco.ssdl|res://*/Database.myDamco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.255.220.56;initial catalog=MyDamcoV4;user id=MyDamco;password=f~&lt;$HaS(;enlist=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ADAM" connectionString="LDAP://10.255.220.24:50000/CN=Users,CN=external,CN=test,DC=apmoller,DC=net" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters xdt:Transform="Replace">
        <parameter value="metadata=res://*/Database.myDamco.csdl|res://*/Database.myDamco.ssdl|res://*/Database.myDamco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.255.220.56;initial catalog=MyDamcoV4;user id=MyDamco;password=f~&lt;$HaS(;enlist=True;multipleactiveresultsets=True;" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes">
      <assemblies>
        <add assembly="System.Web.Security.SingleSignOn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, Custom=null" xdt:Transform="Insert" />
        <add assembly="System.Web.Security.SingleSignOn.ClaimTransforms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, Custom=null" xdt:Transform="Insert" />
      </assemblies>
    </compilation>

    <websso xdt:Transform="InsertAfter(/configuration/system.web/roleManager)">
      <eventloglevel>255</eventloglevel>
      <auditsuccess>2</auditsuccess>
      <auditlevel>247</auditlevel>
      <cookies writecookies="true">
        <path>/</path>
      </cookies>
      <urls>
        <returnurl>https://integration-portal.damco.com/</returnurl>
      </urls>
      <fs>https://test-auth.damco.com/adfs/fs/federationserverservice.asmx</fs>
      <isNonInteractiveClientApp />
    </websso>

    <!-- Used when in clasic mode and to make ADFS diagnostics tool happy -->
    <httpModules>
      <add name="Identity Federation Services Application Authentication Module" type="System.Web.Security.SingleSignOn.WebSsoAuthenticationModule, System.Web.Security.SingleSignOn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, Custom=null" xdt:Transform="Insert"/>
    </httpModules>
  </system.web>

  <system.webServer>
    <modules>
      <remove name="HTTPAuthModule" xdt:Locator="Match(name)" xdt:Transform="Remove"/>
      <add name="HTTPAuthModule" xdt:Locator="Match(name)" xdt:Transform="Remove"/>
      <remove name="RoleManager" xdt:Transform="Insert"/>
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule"  xdt:Transform="Insert"/>
      <remove name="Identity Federation Services Application Authentication Module"  xdt:Transform="Insert"/>
      <add name="Identity Federation Services Application Authentication Module" type="System.Web.Security.SingleSignOn.WebSsoAuthenticationModule, System.Web.Security.SingleSignOn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, Custom=null"  xdt:Transform="Insert"/>
      <add name ="ADFSAuthModule" type="myDamco.Access.Authentication.ADFSAuthModule" xdt:Transform="Insert"/>
    </modules>
  </system.webServer>

  <system.serviceModel>
    <client>
      <endpoint address="http://10.255.168.199:10080/UAMWebserviceV1/UAMWebserviceV1?wsdl" name="UAMWebservicePortV1Binding" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>