<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="myDamcoDatabase" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MyDamcoV4;User Id=MyDamco;Password=Passw0rd;Enlist=true" providerName="System.Data.SqlClient" />
    <add name="myDamcoEntities" connectionString="metadata=res://*/Database.myDamco.csdl|res://*/Database.myDamco.ssdl|res://*/Database.myDamco.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;initial catalog=MyDamcoV4;user id=MyDamco;password=Passw0rd;enlist=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADAM" connectionString="LDAP://192.168.250.35:50000/CN=Users,CN=external,CN=test,DC=apmoller,DC=net" />
  </connectionStrings>

  <appSettings>
    <!-- <add key="SitePath" value="http://192.168.221.6:2930" /> -->
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ResourceBundle" value="false" />
    <add key="ResourceMinify" value="false" />
    <add key="ResourceStrict" value="true" />
    <add key="ResourceDebug" value="false" />
    <add key="ScriptsFolder" value="~/Content/cache/" />
    <add key="StyleSheetFolder" value="~/Content/cache/" />
    <add key="RouteDebugEnabled" value="false" />
    <add key="ReloadRouteInterval" value="15" /> <!-- Seconds between route reloading. 0 = No reloading. -->
    <!-- Need when doing _bin_deployableAssemblies and having a custom provider -->
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="StatusTestUser" value="bnl008" />
    <add key="StatusTestUserRole" value="25" />     
  </appSettings>

  <system.web>
    <httpRuntime requestValidationMode="2.0" />

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!-- TODO(Document): Needed when MvcBuildViews=true -->
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    
    <!-- Disable any server specified authentication -->
    <authentication mode="None" />

    <!-- Define the provides that we use for UAM -->
    <profile enabled="true" defaultProvider="UAMProfileProvider" inherits="myDamco.Profile">
      <providers>
        <clear />
        <add name="UAMProfileProvider" type="myDamco.Access.Authorization.UAMProfileProvider " />
      </providers>
    </profile>

    <membership defaultProvider="UAMMembershipProvider">
      <providers>
        <clear />
        <add name="UAMMembershipProvider" type="myDamco.Access.Authorization.UAMMembershipProvider" />
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="UAMRoleProvider" cacheRolesInCookie="false">
      <providers>
        <clear />
        <add name="UAMRoleProvider" type="myDamco.Access.Authorization.UAMRoleProvider" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <!-- Use this for debugging error pages -->
    <customErrors mode="RemoteOnly"/>
    <!--<customErrors mode="On" />-->

    <!-- Used when in Clasic mode -->
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="HTTPAuthModule" />
      <remove name="ErrorLog" />
      <add name="HTTPAuthModule" type="myDamco.Access.Authentication.HTTPAuthModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
    </modules>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
    </staticContent>

    <!-- Make sure anonymous is allowed if the site has it's own rules -->
    <security>
      <authorization>
        <add accessType="Allow" users="?" />
      </authorization>
    </security>

    <!-- Make sure we have compression enabled -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>

  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- TODO: What is this used for? -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="ReportingWebServicesSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288" maxBufferPoolSize="1048576" maxReceivedMessageSize="524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="256" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="32768" maxNameTableCharCount="131072" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="RecentPouchWidgetWSSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288" maxBufferPoolSize="1048576" maxReceivedMessageSize="524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="256" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="32768" maxNameTableCharCount="131072" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="UAMWebservicePortV1Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288" maxBufferPoolSize="1048576" maxReceivedMessageSize="524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="256" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="32768" maxNameTableCharCount="131072" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <!-- These Endpoints are not used but need to be here to make the SOAP client happy -->
      <endpoint address="http://localhost:2930/MockServices/Reporting/ReportingWebServices.asmx" binding="basicHttpBinding" bindingConfiguration="ReportingWebServicesSoapBinding" contract="Reporting.ReportingWebServicesSoapBinding" name="ReportingWebServicesSoapBinding" />
      <endpoint address="http://localhost:2930/MockServices/DocumentManagement/RecentPouchWidgetWS.asmx" binding="basicHttpBinding" bindingConfiguration="RecentPouchWidgetWSSoapBinding" contract="DocumentManagement.RecentPouchWidgetWSSoapBinding" name="RecentPouchWidgetWSSoapBinding" />
      <!-- This needs to be changed per environment -->
      <endpoint address="http://localhost:2930/MockServices/UAM/UAMWebserviceV1.asmx" binding="basicHttpBinding" bindingConfiguration="UAMWebservicePortV1Binding" contract="UAM.UAMWebservicePortV1Binding" name="UAMWebservicePortV1Binding" />
    </client>

  </system.serviceModel>

  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="myDamcoDatabase" />
    <security allowRemoteAccess="true" />
  </elmah>

  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <authorization>
        <allow roles="UAM:MYDAMCO:ADMINISTRATION" />
        <deny users="*" />
      </authorization>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>

  <!-- ADFS Debug section
  <system.diagnostics>
      <switches>
         <add name="WebSsoDebugLevel" value="255" /> 
      </switches>
      <trace autoflush="true" indentsize="3">
         <listeners>
            <add name="LSLogListener" type="System.Web.Security.SingleSignOn.BoundedSizeLogFileTraceListener, System.Web.Security.SingleSignOn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, Custom=null" initializeData="C:\inetpub\testapps\adfs1app1\log" />
         </listeners>
      </trace>
   </system.diagnostics> 
   -->
</configuration>