<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argotic.Common" version="2008.0.2.0" requireReinstallation="true" />
  <package id="Argotic.Core" version="2008.0.2.0" requireReinstallation="true" />
  <package id="Argotic.Extensions" version="2008.0.2.0" requireReinstallation="true" />
  <package id="elmah" version="1.2.2" />
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="EntityFramework" version="4.3.1" requireReinstallation="true" />
  <package id="jQuery" version="1.7.2" />
  <package id="jQuery.UI.Combined" version="1.8.20" />
  <package id="jQuery.Validation" version="1.9" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="6.12.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols.WsFederation" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens.Saml" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Xml" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.WsFederation" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" requireReinstallation="true" />
  <package id="Modernizr" version="2.7.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="normalize.css" version="2012.03.04" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="ResourceHelper" version="1.0.5" requireReinstallation="true" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.3.0" targetFramework="net461" />
  <package id="WebActivator" version="1.4.4" requireReinstallation="true" />
  <package id="YUICompressor.NET" version="1.7.1.0" requireReinstallation="true" />
</packages>