<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="system.web" xdt:Transform="Insert">
      <section name="websso" type="System.Web.Security.SingleSignOn.WebSsoConfigurationHandler, System.Web.Security.SingleSignOn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, Custom=null" />
    </sectionGroup>
  </configSections>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://10.255.168.199:10080/UAMWebserviceV1/UAMWebserviceV1?wsdl" name="UAMWebservicePortV1Binding" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>

</configuration>