@model myDamco.Areas.MySupplyChainAssistantAdministration.Models.Application

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Application</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Abbreviation</div>
    <div class="display-field">@Model.Abbreviation</div>

    <div class="display-label">Functions</div>
    <div class="display-field">@(Model.Functions == null ? "None" : Model.Functions.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


