@{
    ViewBag.Title = "RoleChange";
}
<div>
    <p>Choose the role you wish to change to:</p>
    <!-- TEMPLATE START -->
    <div class="rolechange-template" style="display: none">
        <h3 class="organization-header"></h3>
        <div class="roles-content">
            <div class="role-button template"></div>
        </div>
    </div>
    <!-- TEMPALTE END -->
    <div class="role-accordion">
    </div>
</div>

