@model myDamco.Models.WidgetModel
@{
    Html.Resource("~/Content/dashboard.css");
    Html.Resource("~/Scripts/dashboard.js");
    Html.Resource("~/Scripts/widgets/whoami.js");
}
<table style="width: 100%">
    <tbody>
        <tr class="templateProfileRow" style="display:none">
            <th class="label"></th>
            <td class="value"></td>        
        </tr>
    </tbody>
</table>